body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a2afdb;
}
* {box-sizing: border-box}
h1{
    text-align: center;
}
h2{
    font-style: italic;
}
.head{
    text-decoration: none;
}
input[type=text], input[type=password], input[type=number], #country {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
  
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}
  
hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
