    * {box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 4px;
    height: 100%;
    
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.container {
    width: 100%;
    overflow: auto;
    margin: auto;
    background-image: url('https://images.pexels.com/photos/106152/euro-coins-currency-money-106152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90vh;
}
.col-6 {
    width: 50%;
}
.home-page-image {
    height: 100vh;
    background-image: url('./image/loan.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form {
    width: 50%;
    height: auto;
    padding: 5px;
    /* border: 1px solid gray; */
    margin: 20px auto;
}
.signupbtn {
    width: 100%;
    padding: 16px 0;
    border: none;
    color: beige;
    background-color: #a2afdb;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.head {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    float: left;
    font-size: 1.5rem;
}
.signin{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    float: right;
}
.signup{
    height: 60vh;
    margin: 0 auto;
    width: 40%;
    font-size: 8vh;
    text-align: center;
    color: whitesmoke;
    padding: 60px;
    font-family: 'Sofia';
}
.footer{
    height: 1.5em;
    background-color: #873509;
}
.header{
    background-color: #873509;
}
ul{
    margin-block-end: 0em;
    list-style-type: none;
    overflow: hidden;
}

.about{
    color: whitesmoke;
    font-family: 'Sofia';

}
.services{
    width: 50%;
    height: 100vh;
    d;
}
.serve{
    text-align: center;
}
