    * {box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 4px;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.container {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    margin: auto;
}
.col-6 {
    width: 50%;
}
.home-page-image {
    height: 100vh;
    background-image: url('./image/loan.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form {
    width: 50%;
    height: auto;
    padding: 5px;
    /* border: 1px solid gray; */
    margin: 20px auto;
}
.signupbtn {
    width: 100%;
    padding: 16px 0;
    border: none;
    color: beige;
    background-color: #a2afdb;
    border-radius: 10px;
    margin-bottom: 5px;
}

input[type=text], input[type=password], input[type=number]{
    width: 100%;
    padding: 3px;
    height: 40px;
    border: none;
    background: #ebe0e0b4;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}