body {
    font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box}

hr {
    border: 1px solid #808992;
    margin-bottom: 25px;
}
h2{
    
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2afdb;
}
.innavbar {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.head {
    float: left;
    font-size: 1.5rem;
}
.edit{
    float: right;
}
.header{
    width: 100%;
    text-align: center;
}


.subcontainer{
    background-color: whitesmoke;
    width: 30%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 10px;
}
input[type=number], input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
}
.below{
    margin-bottom: 10px;
}
.btn{
    padding: 6px 20px;
    border: none;
    cursor: pointer;
    background-color: #a2afdb;
    color: white;
}