body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
* {box-sizing: border-box}

h2{
    
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2afdb;
}
.logout{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    float: right;
}
.head{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    float: left;
    font-size: 1.5rem;
}

.header{
    background-color: #36373a;
    margin-top: 0;
}


.subcontainer{
    background-color: whitesmoke;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.content {
    width: 85%;
}
.sidebar{
    height: 100vh;
    width: 15%;
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #dedfe7;
}
div a{
    display: inline-block;
    margin-left: 14px;
    padding-top: 20px;
}
.footer{
    height: 3rem;
    background-color: #36373a;
    font-size: 0.8rem;
    padding: 2px;
    color: whitesmoke;
    padding: 10px 0;
}
.form {
    width: 40%;
    height: auto;
    padding: 5px;
    margin: 20px auto;
}
input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 15px;
    background: white;
    border: none;
}
.below{
    margin-bottom: 10px;
}
.btn{
    width: 50%;
    padding: 16px 0;
    border: none;
    color: beige;
    background-color: #36373a;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
}
.title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}