body {
    font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box}
h1{
    text-align: center;
}
hr {
    border: 1px solid #808992;
    margin-bottom: 25px;
}
h2{
    font-style: italic;
}
h2 a{
    float: right;
    font-size: 75%;
}
.head{
    text-decoration-line: none;
}
p a{
    float: right;
}
.subcontainer{
    background-color: whitesmoke;
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.col-3 {
    width: 25%;
    padding: 20px 20px;
}
.col-9 {
    width: 75%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2afdb;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.head {
    float: left;
    font-size: 1.5rem;
}
.loanapply{
    float: right;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.imagecontainer{
    width: 100%;
    height: 200px;
}
.fullname, .email, .residence{
    text-align: center;
}
.history{
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: white;
  }
  